@import url(https://fonts.googleapis.com/css?family=Heebo:800);

@font-face {
	font-family: 'din';
	src: url('./din.ttf');
}

:root {
	--blue: #113561;
	--red: #f60030;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Heebo';
	width: 1280px;
	background: #fff;
	height: 720px;
	border-right: 2px solid red;
	border-bottom: 2px solid red;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	flex-direction: column;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-family: din;
	font-size: 140px;
	color: var(--blue);
	letter-spacing: -0.03em;
}

h1 strong {
	color: var(--red);
	font-weight: inherit;
}

x-word {
	text-transform: capitalize;
}

x-arrow {
	align-self: flex-start;
	display: flex;
	align-items: center;
	margin-top: 2em;
}

x-arrow {
	color: var(--blue);
	font-size: 30px;
	font-weight: 800;
	font-family: 'Heebo';
	letter-spacing: -0.01em;
}

x-arrow img {
	margin-right: 1em;
}

x-arrow x-word {
	text-transform: capitalize;
}

x-arrow strong {
	font-weight: inherit;
	color: var(--red);
	border-bottom: 2px solid var(--red);
}

x-arrow strong x-word {
	text-transform: lowercase;
}
